<%# templates/partials/_checkbox.html.erb %>
<div class="checkbox">
  <input type="checkbox" id="<%= @id %>" name="<%= @name %>" onchange="<%= @js %>" <%= 'checked="checked"' if @checked %> />
  <label for="<%= @id %>"><%= @label %></label>
</div>
